@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
$pink: #FF5C8D;
$brown: #524A4E;
$white: #FDEFF4;
$less-pink: #FFC0D3;
$hover-pink: invert(94%) sepia(82%) saturate(4112%) hue-rotate(284deg) brightness(103%) contrast(100%);


@mixin buttonPink() {
          border: none;
          background-color: $pink;
          cursor: pointer;
          border-radius: 10px;
          font-family: inherit;
          color: $white;
          border: 2px solid transparent;
          &:hover {
                    box-shadow: 0 0 20px $pink;
          }
          &:active {
                    background-color: $less-pink;
                    border: 2px solid $pink;
          }
}

body {
          margin: 0;
          font-family: Rubik;
}
body.openBook {
          .createBook {
                    z-index: 100;
          }
          main {
                    filter: contrast(0.3);
          }
          
}
ul {
          padding: 0;
          list-style: none;
          li {
                    line-height: 3rem;
          }
}
header {
          background-color: $brown;
          display: flex;
          height: 10vh;
          justify-content: center;
          align-items: center;
          h1 {
                    margin: 0;
                    text-align: center;
                    color: $white;
          }
}
main {
          background-color: $white;
          display: flex;
          min-height: 90vh;
          > section {
                    width: 33%;
          }
}

section {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          padding: 20px;
          gap: 20px;
          h2 {
                    margin: 0;
                    text-align: center;
                    font-size: 3vw;
                    color: $brown;
          }
}
.card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $pink;
          padding: 20px 0 20px 20px;
          border-radius: 20px;
          color: #FDEFF4;
          min-width: 150px;
          img {
                    border-left: 2px solid black;
                    padding: 15px;
                    cursor: pointer;
                    filter: invert(1);
                    &:hover {
                              filter: $hover-pink;
                              border-left: 2px solid transparent;
                    }
          }
}

.info {
          background-color: $less-pink;
          color: $brown;
          padding: 40px;
}
.openForm {
          @include buttonPink();
          padding: 20px;
}

.createBook {
          justify-content: center;
          display: none;
          flex-direction: column;
          position: absolute;
          background-color: $white;
          border: 4px solid $brown;
          border-radius: 20px;
          padding: 20px;
          width: 300px;
          height: 430px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          h2 {
                    text-align: center;
                    color: $brown;
                    margin: 0;
          }
          .close, .trash {
                    position: absolute;
                    font-size: 2rem;
                    color: $pink;
                    padding: 20px 30px;
                    cursor: pointer;
                    top: 0;
                    filter: invert(58%) sepia(63%) saturate(3718%) hue-rotate(309deg) brightness(102%) contrast(101%);
                    &:hover {
                              filter: $hover-pink;
                    }
          }
          .close {
                    right: 0;
          }
          .trash {
                    left: 0;
          }
          label {
                    padding: 5px 0;
                    text-align: right;
                    color: $brown;
                    line-height: 1.5rem;
                    font-size: 0.8rem;
          }
          input:not([type=checkbox]) {
                    box-sizing: border-box;
                    padding: 5px 10px;
                    width: 300px;
                    text-align: right;
                    border: 2px solid $less-pink;
                    border-radius: 10px;
                    color: $pink;
                    font-size: 1.3rem;
                    &:focus {
                              outline: none;
                              border: 2px solid $pink;
                    }
          }
          input[type=range] {
                    padding: 0
          }
          button {
                    @include buttonPink();
                    padding: 10px;

          }
          &.active {
                    display: flex;
          }
}



